Repository steklopod/gradle-ssh-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, build-gradle, docker, core, test, license, deploy-security

.github/labeler.yml:

workflow:
  - ".github/**"
  - ".gitignore"

build-gradle:
  - "gradle/**"
  - "build.gradle.kts"
  - "settings.gradle.kts"
  - "*/build.gradle.kts"
  - "*/settings.gradle.kts"
  - "gradle.properties"

docker:
  - "docker-compose.yml"
  - "*/docker-compose.yml"
  - "docker-compose.dev.yml"
  - "*/docker-compose.dev.yml"
  - "Dockerfile"
  - "*/Dockerfile"
  - ".dockerignore"
  - "*/.dockerignore"

core:
  - "src/main/*"
test:
  - "**/src/test/*"
  - "**/*/*Test*"
license:
  - LICENSE
deploy-security:
  - id_rsa

1.8.55: elastic refactoring
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.6: open-api schema tasks removed
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/OpenApiSchema.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.61: rm-all refactor
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/Dckr.kt
  src/main/kotlin/online/colaba/DockerCompose.kt
  src/main/kotlin/online/colaba/DockerComposeUp.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.63: clear duplicate path in copy task
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.65: normalizeForWindows() fix
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.66: dependencies updated
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.8: broker feature added
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.83: dependencies
  Readme.md
  build.gradle.kts
  gradle.properties
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/Common.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.86: time evaluation printing
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.8.86: java 17
  .github/workflows/gradle.yml
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: workflow, build-gradle

1.8.89: .output folder for frontend deployment
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.92: Frontend distribution directory refactoring [.output]
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.96: Frontend distribution compressed type as parameter of `ssh` default tasks
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.97: gradle 7.3.1 + scp task refactoring
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.99: compose task refactoring
  build.gradle.kts
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/Dckr.kt
  src/main/kotlin/online/colaba/DockerCompose.kt
  src/main/kotlin/online/colaba/DockerComposeUp.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.994: junit tests init, `local file exists` function fix
  build.gradle.kts
  src/main/kotlin/online/colaba/Common.kt
  src/main/kotlin/online/colaba/DockerComposeUp.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/test/kotlin/online/colaba/CommonTest.kt
  src/test/resources/files/.hidden/empty
  src/test/resources/files/visible
Labels: build-gradle, test

1.8.999: `local file exists` function updated * dependencies
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Common.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.1001: frontendDistCompressed property
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.1006: frontend compression
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.11: frontend - clearing temporary files
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.13: if deploy whole frontend --> then will remove local autogenerated file first: - ".output", ".nuxt", ".idea", "node_modules", "dist", ".DS_Store", "package-lock.json"
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

Unused badges removed 🔬
  Readme.md
Labels: none

1.8.17: scp `ssh-elasticsearch` task, emojis for tasks descriptions gradle 7.4
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Common.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.18: id("com.gradle.plugin-publish") version "1.0.0-rc-3". Hostname validation
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/kotlin/online/colaba/Common.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.8.18: id("com.gradle.plugin-publish") version "1.0.0-rc-3". Hostname validation
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.19: removed `jvmTarget`
  build.gradle.kts
Labels: build-gradle

1.8.20: `crowdsec` option
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.21: FRONTEND - deploy whole folder as default
  build.gradle.kts
  src/main/kotlin/online/colaba/DockerComposeUp.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.21: FRONTEND - clear temp file only task
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.23: FRONTEND - `package-lock.json` not removing before deploy
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.24: docker-compose `--detach` flag as default from bow
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/DockerComposeUp.kt
Labels: build-gradle

1.8.1009: don't ovveride whole folders for [nginx & broker] of theay are already on remote server for not ovveiding data folder
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.1010: deploy `compose.infra.yaml` from root of project
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.1011: deploy all files from `monitoring` folder
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.1013: all files from folder one level deep fix
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.8.1014: dependencies updated
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/DockerCompose.kt
Labels: build-gradle

1.9.0-Beta01: `copy in each` function improved
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.9.0-Beta05: `chmod 400 id_rsa` in root folder
  Readme.md
  build.gradle.kts
  gradle.properties
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.9.0-Beta05.03: dependencies updated
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: build-gradle

1.9.0-Beta05.04: java 19
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: build-gradle
