Repository steklopod/gradle-ssh-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, build-gradle, docker, core, test, license, deploy-security

.github/labeler.yml:

workflow:
  - ".github/**"
  - ".gitignore"

build-gradle:
  - "gradle/**"
  - "build.gradle.kts"
  - "settings.gradle.kts"
  - "*/build.gradle.kts"
  - "*/settings.gradle.kts"
  - "gradle.properties"

docker:
  - "docker-compose.yml"
  - "*/docker-compose.yml"
  - "docker-compose.dev.yml"
  - "*/docker-compose.dev.yml"
  - "Dockerfile"
  - "*/Dockerfile"
  - ".dockerignore"
  - "*/.dockerignore"

core:
  - "src/main/*"
test:
  - "**/src/test/*"
  - "**/*/*Test*"
license:
  - LICENSE
deploy-security:
  - id_rsa

### version 1.3.23 - kotlin 1.4.31
  Readme.md
  build.gradle.kts
Labels: build-gradle

1.3.24: --no-deps
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/DockerCompose.kt
Labels: build-gradle

1.3.25: 'removing remote' log message removed
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.3.26: custom host fix :-)
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.3.27: remoteMkDir("$POSTGRES/backups")
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.3.33: refactoring
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.3.34: compose-BACKEND task added
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.3.35: * java 16 * 7.0-milestone-3 => ./gradlew wrapper --gradle-version=7.0-milestone-3 * compose-BACKEND task refactor
  .github/workflows/gradle.yml
  Readme.md
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: workflow, build-gradle

1.3.36: copy in each method added. Refactor
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.3.45: java version removed (sourceCompatibility, targetCompatibility)
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

gradle-7.0-rc-1
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: build-gradle

1.3.46: kotlin("jvm") removed from build gradle * gradle.properties removed
  Readme.md
  build.gradle.kts
  gradle.properties
Labels: build-gradle

1.3.50: ssh default task for each subproject
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.3.50: unused tasks names removed
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: none

1.3.50: refactor
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/DockerCompose.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: none

1.3.52: computed jar folders
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.3.53: compted jars path - 2
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.3.57: refactoring of SSH task
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.4.0
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.4.1: output refactoring * `...-lib` pattern excluded from jars; * `.env` file will not be copied in each subproject; * frontend name & postgres name refactoring compting logic.
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.4.2: NotFoundException ==> RuntimeException
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.4.3: logs finished
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.4.33: SshServer for other hosts fix
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.4.34: SshServer - read id_rsa from project first, if not found - then in local machine
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.4.35: SshServer config updates - password disabled, agent enabled
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.5: stable version
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.6: stable
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.6.3: new features
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.6.4: checking that at least one of host/group is set in project
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.6.5: if host not set - compute from group, or subproject group
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
Labels: build-gradle

1.6.6: if `host` not set - compute it from group, or from any subproject's group
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle

1.6.7: name of task `publish` --> `deploy`
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.7: stable version
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
  src/main/kotlin/online/colaba/SshServer.kt
Labels: build-gradle

1.7.1: static task refactoring
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.7.4: ignore [postgres] if not found
  Readme.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.7.38: open api schema validation
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/OpenApiSchema.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8: rm-all task
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.3: rm-all task -> also removing all volumes
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.5: Dckr, DockerCompose, DockerComposeUp tasks
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Cmd.kt
  src/main/kotlin/online/colaba/Dckr.kt
  src/main/kotlin/online/colaba/DockerCompose.kt
  src/main/kotlin/online/colaba/DockerComposeUp.kt
  src/main/kotlin/online/colaba/Main.kt
  src/main/kotlin/online/colaba/Ssh.kt
  src/main/kotlin/online/colaba/SshPlugin.kt
Labels: build-gradle

1.8.51: chmod 777 -R ./${project.name}/elastic/elastic-data
  Readme.md
  build.gradle.kts
  src/main/kotlin/online/colaba/Ssh.kt
Labels: build-gradle
